<!DOCTYPE html>
<html>
<head>
	<title>Cake List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<script>
	$(function() {
		$.getJSON("/cakes.json", function(data) {
			$.each(data, function( index, item ) {
				$("#cakeList").append("<li>" + item.cake + "</li>")
			});
		});
	});
	</script>
	<h1>Cakes!</h1>
	<form action="/add_cake" method="POST">
		<input type="text" name="newCake" placeholder="Enter a new cake!">
		<input type="submit" name="Submit">
	</form>
	<ol id="cakeList"></ol>
</body>
</html>